body {
  text-align: center;
  align-items: center;
  background-color: #fffdde;
}
.head {
  border-color: #fff;
  border-radius: 5px;
  text-align: center;
  background: #ecb365;
  width: 100%;
  min-width: 700px;
  color: #4c3f91;
  margin: 20px auto 0 auto;
  padding: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.list {
  border-color: #fff;
  min-height: 300px;
  border-radius: 5px;
  background: #cee5d0;
  width: 70%;
  min-width: 760px;
  margin: 0 auto 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.list table {
  width: 80%;
  margin: auto;
  text-align: center;
}
.list thead {
  border: none;
  color: #2c272e;
  font-size: 1.2em;
  /* text-align: left; */
  padding-bottom: 10px;
}
.list td {
  border: none;
  padding: 5px;
}
.list tr {
  border-bottom: medium;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  text-align: center;
}

.header {
  display: block;
  text-align: center;
  font-size: 30px;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  background-color: #ecb365;
  height: 70px;
  min-width: 700px;
  margin-top: 20px;
  font-size: 1.4em;
}

.nav > li {
  color: white;
}

.nav > li:hover {
  color: turquoise;
}

/* ----------------------- */

header {
  text-align: left;
  background-color: #f5ba13;
  font-family: "McLaren", cursive;
  color: #fff;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
footer {
  /* position: relative; */
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #EEEBDD;
  background: #D8B6A4;
  height: 150px;
}

.box {
  position: relative;
  width: 80%;
  margin: 30px auto 20px auto;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.box input,
.box h3 {
  width: 100%;
  border: none;
  padding: 4px;
  font-size: 1.2em;
  outline: none;
  font-family: inherit;
  resize: none;
}
.addemp {
  position: relative;
  width: 70%;
  min-width: 650px;
  margin: 30px auto 20px auto;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  text-align: center;
}

.userInfo {
  position: relative;
  width: 600px;
  margin: auto;
  background: #dfd3c3;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.userInfo .left {
  font-size: 1.2em;
  width: 200px;
  color: navy;
  padding-right: 20px;
  text-align: right;
  margin: auto;
}

.userInfo .right{
  color: black;
  text-align: left;
  padding-left: 20px;
  font: 0.9em;
  margin: auto;
}
.userInfo input,
.userInfo select{
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 4px;
  
  
  background: #FEECE9;
  font-size: 1em;
  outline: none;
  font-family: inherit;
  resize: none;
  -webkit-appearence: none;
  border-radius: 7px;
  box-shadow: 0 0px 1px rgb(121, 119, 119);
}
.addData {
  position: relative;
  width: 600px;
  margin: auto;
  background: #dfd3c3;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.addData input,
.addData select {
  width: 40%;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin: auto;
  margin-left: 20px;
  background: #dfd3c3;
  font-size: 1em;
  outline: none;
  font-family: inherit;
  resize: none;
  -webkit-appearence: none;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.addData label {
  display: inline-block;
  width: 35%;
  font-size: 1.2em;
  text-align: right;
  color: navy;
  padding-right: 20px;
  margin: auto;
}

.addData .gen {
  text-align: left;
  border: none;
  border-radius: 5px;
  background: #dfd3c3;
  padding: 4px;
  width: 40%;
  margin: auto;
  margin-left: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.btnInfo {
  background-color: #116530;
  min-width: 80px;
  padding: 4px;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin-right: 30px;
}

.btnUpdt {
  background-color: #b762c1;
  width: 80px;
  padding: 4px;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin-right: 30px;
}

.btnDel {
  text-decoration: none;
  width: 80px;
  background-color: #ff1700;
  padding: 4px;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.add {
  border-radius: 50%;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#form {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#progressbar {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #2f8d46;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 19%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #step1:before {
  content: "1";
}

#progressbar #step1.success:before {
  content: "✅";
}
#progressbar #step2.success:before {
  content: "✅";
}
#progressbar #step3.success:before {
  content: "✅";
}
#progressbar #step4.success:before {
  content: "✅";
}

#progressbar #step2:before {
  content: "2";
}

#progressbar #step3:before {
  content: "3";
}

#progressbar #step4:before {
  content: "4";
}
#progressbar #step5:before {
  content: "5";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: " ";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #406882;
}

#progressbar li.success:before,
#progressbar li.success:after {
  background: #2f8d46;
  content: "✓";
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #2f8d46;
}

.addData .data {
  color: black;
  text-align: left;
  padding-left: 20px;
  font: 0.9em sans-serif;
}

.dropbtn {
  
  background-color: #ecb365;
  color: white;
  padding: 10px;
  border: none;
}
.editbtn {
  right: 0px;
  top: 0px;
  position:absolute;
  background-color: inherit;
  color: white;
  padding: 10px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -50px;
  text-align: center;
  background-color: #f1f1f1;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 7px 10px;
  text-decoration: none;
  margin: auto;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user{
  height: 100px;
  width: 60%;
  background: #cee5d0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}